html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
li {
  list-style: none;
}

html,
body {
  height: 100%;
}


body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  /* font-family: "Space Mono", monospace; */
  /* font-family: "Mulish", sans-serif; */
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2B2B2B;
}

.header {
  padding-top: 35px;
  padding-left: 50px;
  padding-right: 50px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 0 30px;
}


.header__nav-link {
  font-weight: 600;
  font-size: 16px;
}


.header__nav-btn {
  display: flex;
  gap: 0 12px;
  border-radius: 20px;
  background-color: #A259FF;
  padding: 20px 30px;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.5s;
}

.header__nav-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.main {
  padding-top: 80px;
}

.arts__wrapper {
  display: flex;
  justify-content: space-between;
}

.arts__title {
  font-weight: 600;
  font-size: 67px;
  line-height: 110%;
  max-width: 420px;
  padding-bottom: 20px;
}

.arts__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  max-width: 490px;
  padding-bottom: 30px;
  text-transform: capitalize;
}

.arts__btn {
  display: flex;
  border-radius: 20px;
  background-color: #A259FF;
  padding: 19px 50px;
  max-width: 225px;
  font-weight: 600;
  font-size: 16px;
  gap: 0 12px;
  margin-bottom: 30px;
  transition: all 0.5s;
}

.arts__btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.arts__list {
  display: flex;
  gap: 0 65px;

}

.arts__item-title {
  font-weight: 700;
  font-size: 28px;
  font-family: "Space Mono", monospace;
}

.arts__item-text {
  font-weight: 400;
  font-size: 23px;
}

.arts__info-img {
  display: flex;
  flex-direction: column;
}


.arts__info-img-text {
  border-radius: 0 0 20px 20px;
  background-color: #3B3B3B;
  width: 100%;
  max-width: 510px;
  padding-top: 20px;
  padding-left: 20px;
}

.arts__info-title {
  font-weight: 600;
  font-size: 22px;
}

.arts__img-text {
  display: flex;
  padding-top: 10px;
  gap: 0 12px;
}

.collection {
  padding-top: 160px;
}

.collection__title {
  font-weight: 600;
  font-size: 38px;
  padding-bottom: 10px;
}

.collection__text {
  font-weight: 300;
  font-size: 22px;
  text-transform: capitalize;
  padding-bottom: 60px;
}

.collection__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.collection__item-img {
  padding-bottom: 15px;
}

.collection__item-group {
  display: flex;
  gap: 0 15px;
  padding-bottom: 15px;
}

.collection__title-bottom {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 10px;
}

.collection__text-bottom {
  display: flex;
  align-items: center;
}

.collection__text-bottom img {
  padding-right: 12px;
}

.creators {
  margin-bottom: 160px;
}


.creators__title {
  font-weight: 600;
  font-size: 38px;
  padding-bottom: 10px;
}

.creators__text {
  font-weight: 400;
  font-size: 22px;
  text-transform: capitalize;
}

.creators__info {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 80px;
}

.creators__btn {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  gap: 0 10px;
  border-radius: 20px;
  border: 1px solid #A259FF;
  padding: 19px 50px;
  transition: all 0.5s;
}

.creators__btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.creators__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.creators__item {
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  background-color: #3B3B3B;
  position: relative;
  gap: 0 40px;
  width: 240px;
}

.creators__img {
  padding-bottom: 10px;
}

.creators__item-title {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 5px;
}

.creators__item-text-sales {
  color: #858584;
}

.creators__item-text {
  display: flex;
  gap: 0 10px;
}

.creators__rankink-img {
  position: absolute;
  top: 10px;
  left: 10px;
}

.categories__title {
  font-weight: 600;
  font-size: 38px;
  margin-bottom: 80px;
}

.categories__list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  margin-bottom: 80px;
}

.categories__item {
  display: flex;
  flex-direction: column;
}

.categories__text-img {
  font-weight: 600;
  font-size: 22px;
  border-radius: 0 0 20px 20px;
  background-color: #3B3B3B;
  width: 240px;
  height: 76px;
  padding: 20px 30px 25px 30px;
}

.more {
  padding-bottom: 80px;
}

.more__info {
  display: flex;
  justify-content: space-between;
}

.more__title {
  font-weight: 600;
  font-size: 38px;
  margin-bottom: 10px;
}

.more__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  padding-bottom: 60px;
}

.more__link {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  gap: 0 10px;
  border-radius: 20px;
  border: 2px solid #A259FF;
  padding: 19px 50px;
  height: 60px;
  margin-top: 23px;
  transition: all 0.5s;
}

.more__link:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.more__list {
  display: flex;
  justify-content: space-between;
}

.more__item {
  border-radius: 20px;
  background-color: #3B3B3B;
  max-width: 330px;
}

.more__img-text {
  padding: 20px 30px 25px 30px;
  max-width: 330px;
}

.more__title-img {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 5px;
}


.more__nickname-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  gap: 0 12px;
  margin-bottom: 30px;
}

.more__ava-img {
  width: 24px;
  height: 24px;
}

.more__img-info {
  display: flex;
  justify-content: space-between;
  font-family: "Space Mono", monospace;
}

.more__img-info-text {
  font-weight: 400;
  font-size: 12px;
  color: #858584;
  padding-bottom: 8px;
}

.more__img-info-price {
  font-weight: 400;
  font-size: 16px;
}

.mushrooms {
  background: url(/images/musrooms.jpg);
  width: 100%;
  height: 640px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 80px;
}

.mushrooms__inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.mushrooms__info {
  padding-top: 360px;
}

.mushrooms__info-link-inner {
  display: flex;
  align-items: center;
  background-color: #3B3B3B;
  padding: 10px 20px;
  width: 151px;
  height: 44px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 20px;
  gap: 0 12px;
  margin-bottom: 30px;
}

.mushrooms__title {
  font-weight: 600;
  font-size: 51px;
  margin-bottom: 30px;
}

.mushrooms__link {
  display: flex;
  gap: 0 12px;
  background-color: #FFFFFF;
  color: #2B2B2B;
  border-radius: 20px;
  padding: 22px 50px;
  max-width: 200px;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.5s;
}

.mushrooms__link:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.mushrooms__time {
  background: rgba(59, 59, 59, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 30px;
  width: 295px;
  height: 147px;
  font-family: "Space Mono", monospace;
}

.mushrooms__time-text {
  font-weight: 400;
  font-size: 12px;
  padding-bottom: 10px;
}

.mushrooms__list {
  display: flex;
  justify-content: space-between;
}

.mushrooms__item-num {
  font-weight: 700;
  font-size: 38px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 0 14px;
}

.mushrooms__item-time {
  font-weight: 400;
  font-size: 12px;
}

.colon {
  width: 10px;
}

.work {
  padding-bottom: 80px;
}

.work__title {
  font-weight: 600;
  font-size: 38px;
  padding-bottom: 10px;
}

.work__text {
  font-weight: 400;
  font-size: 22px;
  padding-bottom: 50px;
}

.work__list {
  display: flex;
  justify-content: space-between;
}

.work__item {
  align-items: center;
  text-align: center;
  border-radius: 20px;
  padding: 10px 30px 30px 30px;
  background-color: #3B3B3B;
}

.work__item-title {
  font-weight: 600;
  font-size: 22px;
  padding-top: 20px;
}

.work__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  max-width: 270px;
  padding-top: 10px;
}

.form {
  padding-bottom: 80px;
}

.form__inner {
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  padding: 60px;
  background-color: #3B3B3B;
}

.form__info-title {
  font-weight: 600;
  font-size: 38px;
  max-width: 300px;
  line-height: 120%;
  padding-bottom: 10px;
}

.form__info-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  max-width: 425px;
  padding-bottom: 40px;
}

.form__input {
  display: flex;
}

.form__input-item {
  border-radius: 20px;
  padding: 16px 0px 16px 20px;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  width: 425px;
  height: 60px;
  outline: none
}

.form__btn {
  border-radius: 20px;
  padding: 19px 50px;
  background-color: #A259FF;
  display: flex;
  align-items: center;
  gap: 0 12px;
  position: absolute;
  height: 60px;
  right: 300px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  transition: all 0.5s;
}

.form__btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.footer {
  background-color: #3B3B3B;
}

.footer__list {
  display: flex;
  justify-content: space-between;
}


.footer__item {
  padding-top: 40px;
}

.footer__item-logo {
  padding-bottom: 30px;
}

.footer__text-top {
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  max-width: 230px;
  color: #ccc;
}

.footer__text {
  padding-bottom: 20px;
  color: #ccc;
  font-weight: 400;
  font-size: 16px;
}

.footer__title {
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 25px;
  font-family: "Space Mono", monospace;
}

.footer__text-inbox {
  font-weight: 400;
  font-size: 16px;
  max-width: 330px;
  padding-bottom: 20px;
  color: #ccc;
}

.footer__input {
  display: flex;
}

.footer__input-item {
  border-radius: 20px;
  padding: 16px 0px 16px 20px;
  font-weight: 400;
  font-size: 16px;
  width: 425px;
  height: 60px;
  outline: none
}

.footer__btn {
  border-radius: 20px;
  padding: 19px 50px;
  background-color: #A259FF;
  display: flex;
  align-items: center;
  gap: 0 12px;
  position: absolute;
  height: 60px;
  right: 190px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  transition: all 0.5s;
}

.footer__btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.footer__text-copy {
  padding-left: 115px;
  color: #CCCCCC;
  font-weight: 400;
  font-size: 15px;
}

.hr__end {
  max-width: 1350px;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 20px;
  color: #ccc;
}

@media (max-width:835px) {

  .container {
    padding: 0 70px;
  }

  .arts__title {
    font-weight: 600;
    font-size: 38px;
    max-width: 330px;
  }

  .arts__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    max-width: 330px;
  }

  .arts__info-img {
    width: 330px;
    height: 221px;
  }

  .collection__item:last-child {
    display: none;
  }

  .creators__item:last-child {
    display: none;
  }

  .categories__item {
    max-width: 150px;
  }

  .categories__text-img {
    max-width: 150px;
  }

  .categories__text-img {
    font-weight: 600;
    font-size: 15px;
    padding: 20px 20px 25px 20px;
  }

  .more__item:last-child {
    display: none;
  }

  .work__item {
    width: 210px;
  }

  .work__item-img {
    max-width: 160px;
  }

  .work__item-title {
    font-weight: 600;
    font-size: 16px;
  }

  .work__item-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
  }

  .form__img {
    width: 300px;
    height: 280px;
    margin-right: 30px;
  }

  .form__info-title {
    font-weight: 600;
    font-size: 28px;
  }

  .form__info-text {
    font-weight: 400;
    font-size: 16px;
    max-width: 300px;
  }

  .form__input {
    display: block;
  }

  .form__input-item {
    font-weight: 400;
    font-size: 16px;
    width: 290px;
  }

  .form__btn {
    margin-top: 15px;
    width: 300px;
    position: inherit;
    width: 100%;
    max-width: 425px;
    justify-content: center;
  }

  .footer__list {
    display: block;
  }

  .footer__btn {
    right: 330px;
  }

  .hr__end {
    max-width: 690px;
  }

  .footer__text-copy {
    padding-left: 70px;
  }
}

@media(max-width:375px) {

  .container {
    padding: 0 30px;
  }

  .header__nav-btn {
    display: none;
  }

  .header__list {
    display: none;
  }

  .arts__wrapper {
    display: block;
  }

  .arts__list {
    display: none;
  }


  .arts__title {
    font-weight: 600;
    font-size: 28px;
    max-width: 315px;
  }

  .arts__text {
    font-weight: 400;
    font-size: 16px;
    max-width: 315px;
  }

  .arts__info-img {
    max-width: 315px;
  }

  .arts__btn {
    max-width: 315px;
    justify-content: center;
  }

  .collection__title {
    font-weight: 600;
    font-size: 28px;
  }

  .collection__text {
    font-weight: 400;
    font-size: 16px;
  }

  .collection__item:nth-child(2) {
    display: none;
  }

  .creators__btn {
    display: none;
  }

  .creators__title {
    font-weight: 600;
    font-size: 28px;
  }

  .creators__text {
    font-weight: 400;
    font-size: 16px;
  }

  .creators__list {
    display: flex;
    justify-content: center;
  }

  .creators__item:nth-child(2),
  .creators__item:nth-child(3) {
    display: none;
  }

  .categories__title {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 30px;
  }

  .categories__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
  }

  .categories__text-img {
    margin-bottom: 15px;
  }

  .more__link {
    display: none;
  }

  .more__title {
    font-weight: 600;
    font-size: 28px;
  }

  .more__text {
    font-weight: 400;
    font-size: 16px;
  }

  .more__list {
    flex-wrap: wrap;
  }

  .more__item-img {
    max-width: 315px;
  }

  .more__item {
    max-width: 315px;
    margin-bottom: 20px;
  }

  .mushrooms__inner {
    display: block;
  }

  .mushrooms__info {
    padding-top: 120px;
  }

  .mushrooms__title {
    font-weight: 600;
    font-size: 38px;
  }

  .mushrooms__link {
    margin-bottom: 30px;
    max-width: 315px;
    justify-content: center;
  }

  .mushrooms__time {
    width: 315px;
  }

  .work__title {
    font-weight: 600;
    font-size: 28px;
  }

  .work__text {
    font-weight: 400;
    font-size: 16px;
  }

  .work__list {
    display: block;
  }

  .work__item-block-img {
    display: flex;
  }

  .work__item {
    width: 100%;
    max-width: 315px;
    margin-bottom: 20px;
  }

  .form__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    background-color: inherit;
  }

  .form__img {
    margin-right: 0;
    width: 315px;
    padding-bottom: 30px;
  }

  .form__btn {
    width: 290px;
  }

  .footer__input-item {
    font-size: 10px;
  }

  .footer__btn {
    right: 30px;
  }

  .hr__end {
    width: 315px;
  }

  .footer__text-copy {
    font-weight: 400;
    font-size: 12px;
    padding-left: 30px;
  }

}